In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime,date
from datetime import timedelta

In [ ]:
new_file=pd.read_csv(r'H:\IT FOLDER\EXCEL\data.csv')

In [12]:
update_file=new_file.copy()

In [22]:
update_file.rename(columns={'Date':'Dates'})

    Duration         Dates  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [30]:
update_file.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [43]:
update_file[-1:]

    Duration          Date  Pulse  Maxpulse  Calories
31        60  '2020/12/31'     92       115     243.0

In [45]:
update_file.iloc[0:4,:-1]

   Duration          Date  Pulse  Maxpulse
0        60  '2020/12/01'    110       130
1        60  '2020/12/02'    117       145
2        60  '2020/12/03'    103       135
3        45  '2020/12/04'    109       175

In [50]:
update_file[(update_file['Pulse']>96) & (update_file['Maxpulse']<120)]

    Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0

In [55]:

update_file['Pulse_half']=update_file['Pulse']/2
update_file['Pulse_half']

0     55.0
1     58.5
2     51.5
3     54.5
4     58.5
5     51.0
6     55.0
7     52.0
8     54.5
9     49.0
10    51.5
11    50.0
12    50.0
13    53.0
14    52.0
15    49.0
16    49.0
17    50.0
18    45.0
19    51.5
20    48.5
21    54.0
22    50.0
23    65.0
24    52.5
25    51.0
26    50.0
27    46.0
28    51.5
29    50.0
30    51.0
31    46.0
Name: Pulse_half, dtype: float64

In [ ]:
update_file.drop(columns='Pulse')

In [ ]:
update_file.drop(3)

In [64]:
update_file.max

<bound method DataFrame.max of     Duration          Date  Pulse  Maxpulse  Calories  Pulse_half
0         60  '2020/12/01'    110       130     409.1        55.0
1         60  '2020/12/02'    117       145     479.0        58.5
2         60  '2020/12/03'    103       135     340.0        51.5
3         45  '2020/12/04'    109       175     282.4        54.5
4         45  '2020/12/05'    117       148     406.0        58.5
5         60  '2020/12/06'    102       127     300.0        51.0
6         60  '2020/12/07'    110       136     374.0        55.0
7        450  '2020/12/08'    104       134     253.3        52.0
8         30  '2020/12/09'    109       133     195.1        54.5
9         60  '2020/12/10'     98       124     269.0        49.0
10        60  '2020/12/11'    103       147     329.3        51.5
11        60  '2020/12/12'    100       120     250.7        50.0
12        60  '2020/12/12'    100       120     250.7        50.0
13        60  '2020/12/13'    106       128     345.3        53.0
14        60  '2020/12/14'    104       132     379.3        52.0
15        60  '2020/12/15'     98       123     275.0        49.0
16        60  '2020/12/16'     98       120     215.2        49.0
17        60  '2020/12/17'    100       120     300.0        50.0
18        45  '2020/12/18'     90       112       NaN        45.0
19        60  '2020/12/19'    103       123     323.0        51.5
20        45  '2020/12/20'     97       125     243.0        48.5
21        60  '2020/12/21'    108       131     364.2        54.0
22        45           NaN    100       119     282.0        50.0
23        60  '2020/12/23'    130       101     300.0        65.0
24        45  '2020/12/24'    105       132     246.0        52.5
25        60  '2020/12/25'    102       126     334.5        51.0
26        60      20201226    100       120     250.0        50.0
27        60  '2020/12/27'     92       118     241.0        46.0
28        60  '2020/12/28'    103       132       NaN        51.5
29        60  '2020/12/29'    100       132     280.0        50.0
30        60  '2020/12/30'    102       129     380.3        51.0
31        60  '2020/12/31'     92       115     243.0        46.0>

In [67]:
update_file.reset_index(drop=True).head()

   Duration          Date  Pulse  Maxpulse  Calories  Pulse_half
0        60  '2020/12/01'    110       130     409.1        55.0
1        60  '2020/12/02'    117       145     479.0        58.5
2        60  '2020/12/03'    103       135     340.0        51.5
3        45  '2020/12/04'    109       175     282.4        54.5
4        45  '2020/12/05'    117       148     406.0        58.5

In [77]:
def Patient_pulse(one):
    if one>100 and one <125:
        New_pulse=one-10
        return New_pulse
    else:
        return  one

In [82]:
update_file['Pulse']=update_file['Pulse'].apply(Patient_pulse)
update_file.tail()

    Duration          Date  Pulse  Maxpulse  Calories  Pulse_half
27        60  '2020/12/27'     92       118     241.0        46.0
28        60  '2020/12/28'     93       132       NaN        51.5
29        60  '2020/12/29'    100       132     280.0        50.0
30        60  '2020/12/30'     92       129     380.3        51.0
31        60  '2020/12/31'     92       115     243.0        46.0

In [88]:
def calories_burn_limit(value):
    if value>220 and value <290:
        new=value
        return value
    elif value>290 and value <350:
        new=value-80
        return new
    elif value >350 and value<400:
        new =value-120
        return new
    else:
        return value-160

In [89]:
update_file['patient_update_calories']=update_file['Calories'].apply(calories_burn_limit)
update_file.head(10)

,Duration,Date,Pulse,Maxpulse,Calories,Pulse_half,patient_update_calories
0,60,'2020/12/01',100,130,409.1,55.0,249.1
1,60,'2020/12/02',97,145,479.0,58.5,319.0
2,60,'2020/12/03',93,135,340.0,51.5,260.0
3,45,'2020/12/04',99,175,282.4,54.5,282.4
4,45,'2020/12/05',97,148,406.0,58.5,246.0
5,60,'2020/12/06',92,127,300.0,51.0,220.0
6,60,'2020/12/07',100,136,374.0,55.0,254.0
7,450,'2020/12/08',94,134,253.3,52.0,253.3
8,30,'2020/12/09',99,133,195.1,54.5,35.1
9,60,'2020/12/10',98,124,269.0,49.0,269.0